{% extends 'base.html' %}

{% block content %}
    <div class="card-body">
        <br>
        <h5>Username - {{ profile.username }}</h5>
        <p>Name - {{ profile.first_name }}</p>
        <p>Surname - {{ profile.last_name }}</p>
    </div>

    {% include 'partial/all_photo_list.html' %}
    <div class="row">
        <div class="text-center mt-4 border-bottom border-primary border-3 mb-4">
            <h1>Album</h1>
        </div>
        {% for album in albums %}
            <div class="col-12 col-md-4 mb-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ album.title }}</h6>
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ album.description }}</h6>
                        <p class="text-danger">
                            Автор: {{ album.author.first_name }} {{ album.author.last_name }}</p>
                        <a href="{% url 'webapp:album_detail' album.pk %}" class="btn btn-outline-primary">Detail</a>
                        {% if user == profile or perms.webapp.change_album %}
                            <a href="{% url 'webapp:album_update' album.pk %}"
                               class="btn btn-outline-success">Update</a>
                        {% endif %}
                        {% if user == profile or perms.webapp.delete_album %}
                            <a href="{% url 'webapp:album_delete' album.pk %}" class="btn btn-outline-danger">Delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="text-center mt-5">
                <p>Альбомов нет</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}