{#    <div class="row">#}
{#        <div class="text-center mt-4 border-bottom border-primary border-3 mb-4">#}
{#            <h1>Photos</h1>#}
{#        </div>#}
{#        {% for album in albums %}#}
{#            <div class="col-12 col-md-4 mb-3">#}
{#                <div class="card" style="width: 18rem;">#}
{#                    <div class="card-body">#}
{#                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ album.title }}</h6>#}
{#                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ album.description }}</h6>#}
{#                        <p class="text-danger">#}
{#                            Автор: {{ photo.author.first_name }} {{ photo.author.last_name }}</p>#}
{#                        <a href="{% url 'webapp:photo_detail' photo.pk %}" class="btn btn-outline-primary">Detail</a>#}
{#                        <a href="{% url 'webapp:photo_update' photo.pk %}" class="btn btn-outline-success">Update</a>#}
{#                        <a href="{% url 'webapp:photo_delete' photo.pk %}" class="btn btn-outline-danger">Delete</a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        {% empty %}#}
{#            <div class="text-center mt-5">#}
{#                <p>Альбомов нет</p>#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}